<center>

<%= form_with model: @roomtype do |form| %>
<div class = 'card'>
  <div>
    <%= form.label :roomtype %><br>
    <%= form.text_field :roomtype %>
  </div>

  <div>
    <%= form.label :cost %><br>
    <%= form.text_area :cost %>
  </div>
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>


  <div>
     <%= form.label :roomimg %>
    <%= form.file_field:roomimg %><br>
  </div>
<%= form.select :status, options_for_select(Roomtype.statuses.map {|k, v| [k.humanize.capitalize, k]}) %>


  <div>
    <%= form.submit %>
  </div>
  </div>
  </center>

<% end %>