<h1>Booking List</h1>




<table id="book" border="3" layout= "fixed" width=" 100%"  >
<br>
  
  <tr>
    <th>Check In</th>
    <th>Check Out</th>
    <th> Booking Date</th>
    <th>Guest Name</th>
    <th>Room Number</th>
    <th>Amount</th>
    <th>Charges</th>


   
  </tr>

<% @bookings.each do |b| %>  
  <tr >
    <td><%= b.check_in%></td>
    <td><%= b.check_out %></td>
    <td><%= b.booking_date %></td>
    <td><%= b.customer.customer_name %></td>
    <td><%= b.room.roomnumber %></td>
    <td><%= b.room.roomtype.cost%></td>

    <td><%= b.charges%></td>



  </td>

  </tr>


<% end %>
</table>

