<h1>Room List</h1>



<table id="book" border="3" layout= "fixed" width=" 100%"  >
<br>
  
  <tr>
    <th>Room Number</th>
    <th>Description</th>
    <th> Status</th>
    <th> Image</th>
    
    <th>Room Type</th>
        <th>Price</th>


    <th> Action</th>
   
  </tr>

<% @rooms.each do |room| %>  

<%if room.available?%>

  <tr >
    <td><%= room.roomnumber%></td>
    <td><%= room.description %></td>
    <td><%= room.status %></td>
    <td><%=image_tag room.roomtype.roomimg, style: "width:200px; display: block"%></td>
    <td><%= room.roomtype.roomtype %></td>
        <td><%= room.roomtype.cost %></td>

     <%# <td> <%= link_to 'Booking', new_booking_path(room) ,style:"color:#ac0dfd"%>    

<td><%= link_to 'Book Now', new_room_booking_path(room), :class => 'btn btn-success btn-sm' %>

  </td>

  </tr>
  <%end%>


<% end %>
</table>


<%# <li><%= link_to "Sign Out", destroy_customer_session_path, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }</li> %> 