<center>

<%= form_with model: [@room, @room.bookings.build] do |form| %>

<div class = 'card'>
  <div>
    <%= form.label :booking_date %><br>
    <%= form.date_field :booking_date %>
     <% @booking.errors.full_messages_for(:booking_date).each do |message| %>
      <div style="color: red"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :check_in %><br>
    <%= form.date_field :check_in %>
     <% @booking.errors.full_messages_for(:check_in).each do |message| %>
      <div style="color: red"><%= message %></div>
    <% end %>
  </div>

<div>
    <%= form.text_field :customer_id, value:current_customer.id,type:"hidden" %>
  </div>

  <div>
    <%= form.label :check_out %><br>
    <%= form.date_field :check_out %>
      <% @booking.errors.full_messages_for(:check_out).each do |message| %>
      <div style="color: red"><%= message %></div>
    <% end %>
  </div>


  <div>
    <%= form.submit %>
  </div>
  </div>
  </center>

<% end %>