<h1>Room List</h1>

<div class="btn btn-primary">
  <%= link_to 'Add new Room', new_room_path, :class => "btn btn-info"%> 
</div>
 <br>
<table id="book" border="3" layout= "fixed" width=" 100%"  >
<br>
  
  <tr>
    <th>roomnumber</th>
    <th>description</th>
    <th> status</th>
    <th> image</th>
    <th>room type</th>

    <th> Action</th>
   
  </tr>

<% @rooms.each do |room| %>  
  <tr >
    <td><%= room.roomnumber%></td>
    <td><%= room.description %></td>
    <td><%= room.status %></td>
    <td><%=image_tag room.roomtype.roomimg , style: "width:200px; display: block"%></td>
    <td><%= room.roomtype.roomtype %></td>
     <td> <td> <%= link_to 'Edit', edit_room_path(room) ,style:"color:#ac0dfd"%>   
</td>
  </td>

  </tr>
<% end %>
</table>


