<center>

<%= form_with model: @room do |form| %>
<div class = 'card'>

   <div class="field">
    <%= form.label :roomtype_id %><br />
    <%= form.select :roomtype_id, Roomtype.all.collect{|r| [r.roomtype,r.id]} %>
  </div>


  <div>
    <%= form.label :roomnumber %><br>
    <%= form.text_area :roomnumber %>
  </div>
  <div>
    <%= form.label :description	 %><br>
    <%= form.text_area :description	 %>
  </div>

  <div>
      <%= form.label :Status	 %><br>

<%= form.select :status, options_for_select(Room.statuses.map {|k, v| [k.humanize.capitalize, k]}) %>

  </div>

  <div>
    <%= form.submit %>
  </div>
  </div>
  </center>

<% end %>