  <div class="container">  
<div class = "card">      
       
            <div>   
              <label>Stock Name</label>   
              <%= @roomtype.roomtype %>   
            </div>   
  
            <div>   
              <label>Price</label>   
              <%= @roomtype.description %>   
            </div>   
            
            <div>   
              <label>Description</label>   
              <%= @roomtype.cost %>   
            </div>   
         
             
            <div>   
              <label>Country</label>   
              <%= @roomtype.status %>   
            </div>   
         
     <%=image_tag(@roomtype.roomimg)%>
        
      </div>
</div>  